<div class="columns toolbar">
    <div class="column col-3">
        <a data-href="{{!request.url.replace('list', 'upload')}}" class="btn btn-dark btn-lg ajax-modal">上传文件</a>
        <a data-href="{{!request.url.replace('list', 'folder')}}" class="btn btn-danger btn-lg ajax-modal">新建文件夹</a>
    </div>
</div>

% if type(items) == list:
<table class="table" data-page="{{page_url}}">
    <thead>
        <tr>
            <th>文件名</th>
            <th>修改时间</th>
            <th>大小</th>
        </tr>
    </thead>
    <tbody>
    % include('file/data.html', items=items)
    </tbody>
</table>
% else:
<div class="empty">
    <p class="empty-title h5">用户未开通OneDrive</p>
</div>
%end