<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.9/dist/spectre.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/main.css">
<link rel="shortcut icon" href=https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/favicon.png>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/main.js"></script>
<title>OneAdmin</title>
<style>
    .svg-icon-video {
        fill: #ec6068;
    }
    @font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/fonts/satisfy.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
</head>
<script type="text/javascript">window.page_url = '{{!request.url}}';</script>
<body>
<div class="main">
    <div class="left">
        <a href="/" class="navbar-brand">OneAdmin</a>
        <ul class="nav nav-menu">
            % for type, items in drives.items():
            <li class="nav-item">
                <a href="javascript:void(0);">{{type.upper()}}</a>
                <ul class="nav nav-sub">
                    % for item in items:
                    % if item['_id'] == _id:
                    <li class="nav-item active">
                        % else:
                    <li class="nav-item">
                        % end
                        <a href="/user/list?id={{item['_id']}}">{{item['_id']}}</a>
                    </li>
                    % end
                </ul>
            </li>
            % end
        </ul>
    </div>
    <div class="right">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">OneAdmin</a>
            </li>
            % if _id:
            <li class="breadcrumb-item">
                <a href="/user/list?id={{_id}}">{{_id}}</a>
            </li>
            % end
        </ul>
        <div class="container">
            <div class="main-content">
                {{!content}}
            </div>
        </div>
    </div>
</div>
</body>
</html>